body{
	margin:0;
	padding:0;
	background-color: rgb(74, 104, 246);
	font-family: 'Times New Roman';
}

.box{
	width: 30%;
	max-width: 1920px;
	min-width: 480px;
	padding: 30px;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255);
	text-align: center;
}

.box h1{
	color: rgb(0, 0, 0);
	font-weight: 700;
}

.box input[type="text"],.box input[type="password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:3px solid #0367fd;
	padding:14px 10px;
	width: 220px;
	outline: none;
	color: rgb(63, 63, 63);
	border-radius: 12px;
	transition:0.25px;

}



.box button[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:3px solid #00f03cec;
	width: 100px;
	padding:14px 10px;
	outline: none;
	color: rgb(63, 63, 63);
	border-radius: 12px;
	transition:0.25px;
	cursor:pointer;
}

.box button[type="submit"]:hover{
	background: #00f03cec;
}
